body {
font-family: "Lato", sans-serif;
}
.sidenav {
height: 100%;
width: 150px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 15px;
color: #818181;
display: block;
}
.sidenav a:hover {
color: #f1f1f1;
}
.main {
margin-left:170px;
font-size: 15px;
padding: 0px 10px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
#button {
line-height: 12px;
width: 70px;
font-size: 8pt;
font-family: tahoma;
margin-top: 10px;
margin-right: 80px;
position:absolute;
top:0;
right:0;
}
