

<!DOCTYPE html>
           
<html>
<head>
<meta charset="utf-8">
<title>LOGIN</title>
<link rel="stylesheet" href="static/app.css">
</head>
<body>
<div align="center" style="border:5px ">
<img src="static/nie_logo.png" alt="NIE,MYSORE">
<h2>THE NATIONAL INSTITUTE OF ENGINEERING,MYSORE</h2>
<h1>LOGIN</h1>
<form action="/" method="POST">
<h5>Select the user type</h5>
	<select name="user">
		<option value="student">Student</option>
		<option value="teacher">Teacher</option>
		<option value="admin">Administrator</option>
	</select><br><br>
User Name:<br><br>

<input type="text" name="usn" value="">

<br><br>

Password:<br><br>

<input type="password" name="password" value=""><br><br>

<input type="submit" name ="" value="Submit">

</form>
<br>
<b>{{verification}}</b>
</div>
<br><br>
</body>

</html>










